{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block page_content %}
<p>时间:{{ moment(current_time).format('LLL') }}</p>
<!--
<p>时间:{{ moment(current_time).fromNow(refresh=True) }}</p>
<p>时间:{{ moment().calendar() }}.</p>
-->
{% if current_user.can(Permission.WRITE) %}
    <div class="edit_article">
    <form action="" method="post" class="form" role="form">
         {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="row">
            <div class="col-md-12">
                {{ form.body(only_input=True, class="form-control", rows=10, placeholder=form.body.label.text) }}
            </div>
            <div class="col-md-12">
                {{ form.body(only_preview=True) }}
            </div>
            </div>
        </div>
        <div class="form-group">
             {{ form.submit(class="btn btn-default") }}
         </div>
    </form>
    </div>
{% endif %}
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,'main.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='Markdown.Converter.js') }}"></script>
<script src="{{ url_for('static',filename='Markdown.Sanitizer.min.js') }}"></script>
{% endblock %}
